@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

$dark: #0b0b0b;

body {
  font-family: "Poppins", sans-serif;
  color: $dark;
}

.ant-btn {
  background-color: #1d5ecd;
  color: white;
}
