#layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 72px 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "sidenav main"
    "sidenav main";
}

#side-navigation {
  grid-area: sidenav;
  background-color: white;
}

main#main {
  grid-area: main;
  background-color: #f9faff;
  overflow: auto;
}
